<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page</title>
</head>
<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Smartbrains</b> Solutions</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <form action="" method="" [formGroup]="loginForm" (submit)="submitLoginForm()">
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Email" type="email" formControlName="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span *ngIf="formErrors.email" class="formError">{{ formErrors.email }}</span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span *ngIf="formErrors.password" class="formError">{{ formErrors.password }}</span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label class="">
                            <div class="icheckbox_square-blue" style="position: relative;" aria-checked="false" aria-disabled="false">
                                <input  type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" formArrayName="remember"></ins>
                            </div>Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="loginForm.invalid">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="#">I forgot my password</a><br>
        <a href="#" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>


</html>