<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <title>Create new course</title>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Smartbrains</b> Solutions</a>
    </div>
    <div class="login-box-body">
        <h2>Create new course</h2>
        <form [formGroup]="courseForm" (submit)="submit()">
            <div class="form-group">
                <label for="NameOfCourse">Name of workshop</label>
                <input type="text" class="form-control"  placeholder="Name of course" id="NameOfCourse" formControlName="name">
                <span *ngIf="formErrors.name" class="formError">{{formErrors.name}}</span>
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" placeholder="Description" id="Description" formControlName="description"></textarea>
                <span *ngIf="formErrors.description" class="formError">{{formErrors.description}}</span>
            </div>

            <div class="form-group">
                <label for="StartDate">Start date</label>
                <input type="date" class="form-control" placeholder="Start date" id="StartDate" formControlName="startDate">
                <span *ngIf="formErrors.startDate" class="formError">{{formErrors.startDate}}</span>
            </div>

            <div class="form-group">
                <label for="NumberOfCourse">Number of lessons</label>
                <input type="number" min="1" class="form-control" placeholder="Number of course" id="NumberOfCourse" formControlName="numberOfLessons">
                <span *ngIf="formErrors.numberOfLessons" class="formError">{{formErrors.numberOfLessons}}</span>
            </div>

            <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" placeholder="Language of course to be learnt" id="language" formControlName="language">
                <span ngClass="formErrors.language" class="formError">{{formErrors.language}}</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>
</body>
</html>