<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create student</title>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Smartbrains</b> Solutions</a>
    </div>
    <div class="login-box-body">
        <form [formGroup]="studentForm" (submit)="submitStudentForm()">
            <h2>Create new student</h2>
            <div class="form-group">
                <label for="name">Name of student</label>
                <input id="name" type="text" class="form-control" placeholder="Name of student" name="name" formControlName="name">
                <span *ngIf="formErrors.name" class="formError">{{ formErrors.name }}</span>
            </div>



            <div class="form-group">
                <label for="course">Course</label>
                <select class="form-control" id="course" name="workshop" formControlName="workshop">
                    <option *ngFor="let w of workshops" [ngValue]="w">{{w.name}}</option>
                </select>
                <span *ngIf="formErrors.workshop" class="formError">{{formErrors.workshop}}</span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" formControlName="email">
                <span *ngIf="formErrors.email" class="formError">{{ formErrors.email }}</span>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="employmentType" id="osvc" value="OSVC" checked formControlName="employmentType">
                    Work as OSVC
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="employmentType" id="hpp" value="HPP" formControlName="employmentType">
                    Work as HPP
                </label>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>
</body>
</html>