<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <login-component></login-component>
    <course-detail-lecturer-component></course-detail-lecturer-component>
    <course-detail-student-component></course-detail-student-component>
    <create-course-component></create-course-component>
    <create-lecturer-component></create-lecturer-component>
    <create-student-component></create-student-component>


</div>
<!-- /.content-wrapper -->